### SG 2023 data processing

In [933]:
import pandas as pd

In [ ]:
# Read the Excel file
file_path1 = r"C:\Users\Kitty Wong\05 KW\Data\SG\2023 SG AIP.xlsx"
df1 = pd.read_excel(file_path1, dtype={'Merchant No': str})

In [937]:
df1

,Transaction Date,Merchant No,Merchant Name,Terminal id,Transaction No,Transaction Type,Card No,Card Organization,Batch No,Trace No,...,Total Amount,Discount Amount,Original Order No,Remarks,Request Id,Margin Amount,Refund Service Fees,gst,Wallet Type,DCC
0,20231103.0,\t065702089991035,\tFood Joy,58938,2023110381714727,\tSales,\t443227******6543,\tVISA,2,132,...,1.30,0,\t,\t,58938000002000000,0,0,0.00,NaN,N
1,20231103.0,\t065702089991035,\tFood Joy,58938,2023110381714623,\tSales,\t516672******1057,\tMASTERCARD,2,131,...,6.30,0,\t,\t,58938000002000000,0,0,0.01,NaN,N
2,20231103.0,\t065702089991035,\tFood Joy,58938,2023110381714280,\tSales,\t443227******4810,\tVISA,2,130,...,42.20,0,\t,\t,58938000002000000,0,0,0.06,NaN,N
3,20231103.0,\t065702089991035,\tFood Joy,58938,2023110381713200,\tWechat merchant present QRcode payment-Wecha...,\t,WECHATPAY,2,125,...,12.90,0,\t,\t,58938000002000000,0,0,0.02,WECHATCN,N
4,20231103.0,\t065702089991035,\tFood Joy,58938,2023110381713031,\tSales,\t411911******3453,\tVISA,2,124,...,51.40,0,\t,\t,58938000002000000,0,0,0.07,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10775,20231231.0,\t065702089991127,\tSabar,59699,2023123190066170,\tSales,\t526471******9120,\tMASTERCARD,44,2325,...,51.56,0,\t,\t,59699000044002000,0,0,0.09,NaN,N
10776,20231231.0,\t065702089991127,\tSabar,59699,2023123190065588,\tSales,\t415229******1704,\tVISA,44,2324,...,82.68,0,\t,\t,59699000044002000,0,0,0.15,NaN,N
10777,20231128.0,\t065702089990032,\tINLEAD PTE LTD,58488,2023112885472557,\tSales,\t533491******9337,\tMASTERCARD,2,24,...,14850.00,0,\t,\t,58488000002000000,0,0,35.64,NaN,N
10778,20231128.0,\t065702089990032,\tINLEAD PTE LTD,58488,2023112885466379,\tSales,\t533491******9337,\tMASTERCARD,2,20,...,150.00,0,\t,\t,58488000002000000,0,0,0.36,NaN,N
10779,20231128.0,\t065702089990032,\tINLEAD PTE LTD,58488,2023112885438357,\tSales,\t462845******3025,\tVISA,2,19,...,0.10,0,\t,\t,58488000002000000,0,0,0.00,NaN,N

In [938]:
df1.dtypes

Transaction Date        float64
Merchant No              object
Merchant Name            object
Terminal id               int64
Transaction No            int64
Transaction Type         object
Card No                  object
Card Organization        object
Batch No                  int64
Trace No                  int64
Transaction Time         object
Transaction Currency     object
Payment Amount          float64
Tip Amount                int64
Settlement Currency      object
Settlement Amount       float64
Transaction Fee         float64
Total Amount            float64
Discount Amount           int64
Original Order No        object
Remarks                  object
  Request Id              int64
 Margin Amount            int64
 Refund Service Fees      int64
gst                     float64
Wallet Type              object
DCC                      object
dtype: object

In [939]:
(df1['Payment Amount'] != df1['Total Amount']).sum()

0

#### Convert columns to proper data types

In [940]:
df1['Transaction Date'] = pd.to_datetime(df1['Transaction Date'], format='%Y%m%d')
df1['Transaction Month'] = df1['Transaction Date'].dt.to_period('M')
df1['Merchant Name'] = df1['Merchant Name'].str.strip()
df1['Merchant No'] = df1['Merchant No'].str.strip()
df1['Card Organization'] = df1['Card Organization'].str.strip()

#### split columns into separate groups

In [941]:
df1 = df1.groupby(['Transaction Month', 'Merchant No', 'Merchant Name', 'Card Organization']).agg({'Payment Amount': 'sum', 'Settlement Amount': 'sum', 'Transaction Fee': 'sum', 'gst': 'sum', 'Transaction No': 'count'})

In [942]:
df1

                                                                                          Payment Amount  \
Transaction Month Merchant No     Merchant Name                        Card Organization
2023-06           065702056310008 LADY STELLAR                         VISA                          0.2
2023-07           065702056310008 LADY STELLAR                         MASTERCARD                   68.0
                                                                       VISA                       5397.0
2023-08           065702057340001 POINT OF SALES PTE LTD               AMERICAEXPRESS             1248.0
                                                                       MASTERCARD                 1098.0
...                                                                                                  ...
2023-12           065702089991173 KHIANG HOR BUILDING PRODUCTS PTE LTD VISA                      26751.3
                  065702089991184 PARIS STATION                        MASTERCARD                 1400.0
                  065702089991230 The Local Car leasing                AMERICAEXPRESS              585.0
                                                                       MASTERCARD                 7383.0
                                                                       VISA                       7866.0

                                                                                          Settlement Amount  \
Transaction Month Merchant No     Merchant Name                        Card Organization
2023-06           065702056310008 LADY STELLAR                         VISA                            0.20
2023-07           065702056310008 LADY STELLAR                         MASTERCARD                     65.82
                                                                       VISA                         5244.25
2023-08           065702057340001 POINT OF SALES PTE LTD               AMERICAEXPRESS               1218.05
                                                                       MASTERCARD                   1072.75
...                                                                                                     ...
2023-12           065702089991173 KHIANG HOR BUILDING PRODUCTS PTE LTD VISA                        26162.77
                  065702089991184 PARIS STATION                        MASTERCARD                   1367.80
                  065702089991230 The Local Car leasing                AMERICAEXPRESS                570.96
                                                                       MASTERCARD                   7220.52
                                                                       VISA                         7692.90

                                                                                          Transaction Fee  \
Transaction Month Merchant No     Merchant Name                        Card Organization
2023-06           065702056310008 LADY STELLAR                         VISA                          0.00
2023-07           065702056310008 LADY STELLAR                         MASTERCARD                    2.18
                                                                       VISA                        152.75
2023-08           065702057340001 POINT OF SALES PTE LTD               AMERICAEXPRESS               29.95
                                                                       MASTERCARD                   25.25
...                                                                                                   ...
2023-12           065702089991173 KHIANG HOR BUILDING PRODUCTS PTE LTD VISA                        588.53
                  065702089991184 PARIS STATION                        MASTERCARD                   32.20
                  065702089991230 The Local Car leasing                AMERICAEXPRESS               14.04
                                                                       MASTERCARD                  162.48
                                                                       VISA                        173.10

                                                                                            gst  \
Transaction Month Merchant No     Merchant Name                        Card Organization
2023-06           065702056310008 LADY STELLAR                         VISA                0.00
2023-07           065702056310008 LADY STELLAR                         MASTERCARD          0.17
                                                                       VISA               12.22
2023-08           065702057340001 POINT OF SALES PTE LTD               AMERICAEXPRESS      2.40
                                                                       MASTERCARD          2.02
...                                                                                         ...
2023-12           065702089991173 KHIANG HOR BUILDING PRODUCTS PTE LTD VISA               47.08
                  065702089991184 PARIS STATION                        MASTERCARD          2.58
                  065702089991230 The Local Car leasing                AMERICAEXPRESS      1.13
                                                                       MASTERCARD         12.99
                                                                       VISA               13.82

                                                                                          Transaction No
Transaction Month Merchant No     Merchant Name                        Card Organization
2023-06           065702056310008 LADY STELLAR                         VISA                            1
2023-07           065702056310008 LADY STELLAR                         MASTERCARD                      1
                                                                       VISA                            4
2023-08           065702057340001 POINT OF SALES PTE LTD               AMERICAEXPRESS                  1
                                                                       MASTERCARD                      1
...                                                                                                  ...
2023-12           065702089991173 KHIANG HOR BUILDING PRODUCTS PTE LTD VISA                            7
                  065702089991184 PARIS STATION                        MASTERCARD                      1
                  065702089991230 The Local Car leasing                AMERICAEXPRESS                  2
                                                                       MASTERCARD                     31
                                                                       VISA                           24

[134 rows x 5 columns]

### SG 2024 data processing

In [943]:
# Read the Excel file
file_path2 = r"C:\Users\Kitty Wong\OneDrive - BBMSL Limited\02.99 Intern\03 Interns\05 KW\Data\SG\2024 SG AIP.xlsx"
df2 = pd.read_excel(file_path2, dtype={'Merchant No': str})

In [944]:
df2

,Transaction Date,Merchant No,Merchant Name,Terminal id,Transaction No,Transaction Type,Card No,Card Organization,Batch No,Trace No,...,Discount Amount,Original Order No,Remarks,Request Id,Margin Amount,Refund Service Fees,gst,Wallet Type,DCC,RRN
0,20240101,\t065702058140554,\tMUTED,53835,2024010190307929,\tSales,\t535371******5920,\tMASTERCARD,48,\t002079,...,0,\t,\t,53835000048002000,0,0,0.01,NaN,N,NaN
1,20240101,\t065702058140554,\tMUTED,53835,2024010190304620,\tSales,\t491903******7427,\tVISA,48,\t002078,...,0,\t,\t,53835000048002000,0,0,0.04,NaN,N,NaN
2,20240101,\t065702058140554,\tMUTED,53835,2024010190303905,\tSales,\t535371******6420,\tMASTERCARD,48,\t002077,...,0,\t,\t,53835000048002000,0,0,0.02,NaN,N,NaN
3,20240101,\t065702058140554,\tMUTED,53835,2024010190303666,\tPAYNOW_SCANCODE,\tRICHAR* NEO,\t,48,\t002073,...,0,\t,\t,53835000048002000,0,0,0.01,NaN,N,NaN
4,20240101,\t065702058140554,\tMUTED,53835,2024010190301286,\tSales,\t483026******6276,\tVISA,48,\t002072,...,0,\t,\t,53835000048002000,0,0,0.03,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87687,20240630,\t065702089992552,\tBEER BASKET,71988,2024063015006925,\tSales,\t41191100****8879,\tVISA,31,\t001108,...,0,\t,\t,71988000031001000,0,0,0.00,NaN,N,4.182100e+11
87688,20240630,\t065702089992552,\tBEER BASKET,71988,2024063015006162,\tSales,\t48174767****1381,\tVISA,31,\t001107,...,0,\t,\t,71988000031001000,0,0,0.00,NaN,N,4.182100e+11
87689,20240630,\t065702089992552,\tBEER BASKET,71988,2024063015000511,\tSales,\t54112926****3696,\tMASTERCARD,31,\t001106,...,0,\t,\t,71988000031001000,0,0,0.00,NaN,N,6.301500e+10
87690,20240630,\t065702089992552,\tBEER BASKET,71988,2024063014996117,\tSales,\t49340494****6206,\tVISA,31,\t001105,...,0,\t,\t,71988000031001000,0,0,0.00,NaN,N,4.182100e+11
87691,20240630,\t065702089992552,\tBEER BASKET,71988,2024063014991873,\tSales,\t42658850****6279,\tVISA,31,\t001104,...,0,\t,\t,71988000031001000,0,0,0.00,NaN,N,4.182100e+11

#### remove rows

In [945]:
df2 = df2[~df2['Transaction Type'].str.contains('Refund', na=False)]

In [946]:
df2

,Transaction Date,Merchant No,Merchant Name,Terminal id,Transaction No,Transaction Type,Card No,Card Organization,Batch No,Trace No,...,Discount Amount,Original Order No,Remarks,Request Id,Margin Amount,Refund Service Fees,gst,Wallet Type,DCC,RRN
0,20240101,\t065702058140554,\tMUTED,53835,2024010190307929,\tSales,\t535371******5920,\tMASTERCARD,48,\t002079,...,0,\t,\t,53835000048002000,0,0,0.01,NaN,N,NaN
1,20240101,\t065702058140554,\tMUTED,53835,2024010190304620,\tSales,\t491903******7427,\tVISA,48,\t002078,...,0,\t,\t,53835000048002000,0,0,0.04,NaN,N,NaN
2,20240101,\t065702058140554,\tMUTED,53835,2024010190303905,\tSales,\t535371******6420,\tMASTERCARD,48,\t002077,...,0,\t,\t,53835000048002000,0,0,0.02,NaN,N,NaN
3,20240101,\t065702058140554,\tMUTED,53835,2024010190303666,\tPAYNOW_SCANCODE,\tRICHAR* NEO,\t,48,\t002073,...,0,\t,\t,53835000048002000,0,0,0.01,NaN,N,NaN
4,20240101,\t065702058140554,\tMUTED,53835,2024010190301286,\tSales,\t483026******6276,\tVISA,48,\t002072,...,0,\t,\t,53835000048002000,0,0,0.03,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87687,20240630,\t065702089992552,\tBEER BASKET,71988,2024063015006925,\tSales,\t41191100****8879,\tVISA,31,\t001108,...,0,\t,\t,71988000031001000,0,0,0.00,NaN,N,4.182100e+11
87688,20240630,\t065702089992552,\tBEER BASKET,71988,2024063015006162,\tSales,\t48174767****1381,\tVISA,31,\t001107,...,0,\t,\t,71988000031001000,0,0,0.00,NaN,N,4.182100e+11
87689,20240630,\t065702089992552,\tBEER BASKET,71988,2024063015000511,\tSales,\t54112926****3696,\tMASTERCARD,31,\t001106,...,0,\t,\t,71988000031001000,0,0,0.00,NaN,N,6.301500e+10
87690,20240630,\t065702089992552,\tBEER BASKET,71988,2024063014996117,\tSales,\t49340494****6206,\tVISA,31,\t001105,...,0,\t,\t,71988000031001000,0,0,0.00,NaN,N,4.182100e+11
87691,20240630,\t065702089992552,\tBEER BASKET,71988,2024063014991873,\tSales,\t42658850****6279,\tVISA,31,\t001104,...,0,\t,\t,71988000031001000,0,0,0.00,NaN,N,4.182100e+11

#### Shift rows

In [947]:
mask = df2['Card Organization'].astype(str).str.contains('000122|000096')
df2.loc[mask, 'Card Organization':] = df2.loc[mask, 'Card Organization':].shift(axis=1)

In [948]:
df2.dtypes

Transaction Date          int64
Merchant No              object
Merchant Name            object
Terminal id               int64
Transaction No            int64
Transaction Type         object
Card No                  object
Card Organization        object
Batch No                 object
Trace No                 object
Transaction Time         object
Transaction Currency     object
Payment Amount           object
Tip Amount               object
Settlement Currency      object
Settlement Amount        object
Transaction Fee         float64
Total Amount            float64
Discount Amount          object
Original Order No        object
Remarks                  object
  Request Id             object
 Margin Amount            int64
 Refund Service Fees      int64
gst                     float64
Wallet Type              object
DCC                      object
RRN                      object
dtype: object

In [ ]:
df2['Transaction Date'] = pd.to_datetime(df2['Transaction Date'], format='%Y%m%d')
df2['Transaction Month'] = df2['Transaction Date'].dt.to_period('M')
df2['Merchant Name'] = df2['Merchant Name'].str.strip()
df2['Merchant No'] = df2['Merchant No'].str.strip()
df2['Transaction Type'] = df2['Transaction Type'].str.strip()
df2['Card Organization'] = df2['Card Organization'].str.strip()
df2['Payment Amount'] = df2['Payment Amount'].astype(float)
df2['Settlement Amount'] = df2['Settlement Amount'].astype(float)

#### check & compare columns

In [950]:
(df2['Payment Amount'] != df2['Total Amount']).sum()

0

#### fill in empty blanks in specific column

In [952]:
df2.loc[(df2['Transaction Type'] == 'PAYNOW_SCANCODE') & (df2['Card Organization'] == ''), 'Card Organization'] = 'PAYNOW'
df2.loc[((df2['Transaction Type'] == 'Wechat customer persent QRcode Payment-Wechat C-QRC') | 
     (df2['Transaction Type'] == 'Wechat merchant present QRcode payment-Wechat M-QRC')) & (df2['Card Organization'] == ''), 'Card Organization'] = 'WECHATPAY'

In [953]:
df2[['Transaction Type', 'Card Organization']]

      Transaction Type Card Organization
0                Sales        MASTERCARD
1                Sales              VISA
2                Sales        MASTERCARD
3      PAYNOW_SCANCODE            PAYNOW
4                Sales              VISA
...                ...               ...
87687            Sales              VISA
87688            Sales              VISA
87689            Sales        MASTERCARD
87690            Sales              VISA
87691            Sales              VISA

[87691 rows x 2 columns]

In [954]:
df2 = df2.groupby(['Transaction Month', 'Merchant No', 'Merchant Name', 'Card Organization']).agg({'Payment Amount': 'sum', 'Settlement Amount': 'sum', 'Transaction Fee': 'sum', 'gst': 'sum', 'Transaction No': 'count'})

In [955]:
df2

                                                                                Payment Amount  \
Transaction Month Merchant No     Merchant Name              Card Organization
2024-01           065702050850001 TECK SENG HARDWARE TRADING AMERICAEXPRESS            1017.80
                                                             MASTERCARD                2232.00
                                                             VISA                      9101.00
                  065702051220003 SAN TECK SOON MED HALL     AMERICAEXPRESS              93.10
                                                             MASTERCARD               11873.15
...                                                                                        ...
2024-06           065702089992460 TIAN XI HOT POT & BBQ      MASTERCARD                8951.10
                                                             PAYNOW                     150.70
                                                             VISA                      8859.00
                  065702089992552 BEER BASKET                MASTERCARD               24546.40
                                                             VISA                     35645.00

                                                                                Settlement Amount  \
Transaction Month Merchant No     Merchant Name              Card Organization
2024-01           065702050850001 TECK SENG HARDWARE TRADING AMERICAEXPRESS                993.38
                                                             MASTERCARD                   2180.65
                                                             VISA                         8891.69
                  065702051220003 SAN TECK SOON MED HALL     AMERICAEXPRESS                 90.78
                                                             MASTERCARD                  11610.11
...                                                                                           ...
2024-06           065702089992460 TIAN XI HOT POT & BBQ      MASTERCARD                   8752.65
                                                             PAYNOW                        149.80
                                                             VISA                         8662.16
                  065702089992552 BEER BASKET                MASTERCARD                  23999.91
                                                             VISA                        34858.78

                                                                                Transaction Fee  \
Transaction Month Merchant No     Merchant Name              Card Organization
2024-01           065702050850001 TECK SENG HARDWARE TRADING AMERICAEXPRESS               24.42
                                                             MASTERCARD                   51.35
                                                             VISA                        209.31
                  065702051220003 SAN TECK SOON MED HALL     AMERICAEXPRESS                2.32
                                                             MASTERCARD                  263.04
...                                                                                         ...
2024-06           065702089992460 TIAN XI HOT POT & BBQ      MASTERCARD                  198.45
                                                             PAYNOW                        0.90
                                                             VISA                        196.84
                  065702089992552 BEER BASKET                MASTERCARD                  546.49
                                                             VISA                        786.22

                                                                                  gst  \
Transaction Month Merchant No     Merchant Name              Card Organization
2024-01           065702050850001 TECK SENG HARDWARE TRADING AMERICAEXPRESS      2.20
                                                             MASTERCARD          4.62
                                                             VISA               18.82
                  065702051220003 SAN TECK SOON MED HALL     AMERICAEXPRESS      0.20
                                                             MASTERCARD         23.72
...                                                                               ...
2024-06           065702089992460 TIAN XI HOT POT & BBQ      MASTERCARD          0.00
                                                             PAYNOW              0.00
                                                             VISA                0.00
                  065702089992552 BEER BASKET                MASTERCARD          0.00
                                                             VISA                0.00

                                                                                Transaction No
Transaction Month Merchant No     Merchant Name              Card Organization
2024-01           065702050850001 TECK SENG HARDWARE TRADING AMERICAEXPRESS                  4
                                                             MASTERCARD                     37
                                                             VISA                           53
                  065702051220003 SAN TECK SOON MED HALL     AMERICAEXPRESS                  6
                                                             MASTERCARD                    189
...                                                                                        ...
2024-06           065702089992460 TIAN XI HOT POT & BBQ      MASTERCARD                     66
                                                             PAYNOW                          1
                                                             VISA                           80
                  065702089992552 BEER BASKET                MASTERCARD                    380
                                                             VISA                          548

[525 rows x 5 columns]

### combination of 23 & 24 SG data file

In [956]:
df = pd.concat([df1, df2])

In [957]:
df.to_csv('SGcombination.csv')

### SG Merchant database processing

In [958]:
database_path = r"C:\Users\Kitty Wong\OneDrive - BBMSL Limited\02.99 Intern\03 Interns\05 KW\Data\SG\SG MERCHANT DATABASE - Copy.xlsx"
df3 = pd.read_excel(database_path, dtype={'MID ': str})

#### dropping rows

In [959]:
df3.dropna(subset='NO ', inplace=True)

#### rename specific columns

In [960]:
df3.rename(columns={'MID ': 'Merchant No'}, inplace=True)

In [961]:
df3 = df3[['ESTIMATED ANNUAL SALES', 'MERCHANT LEGAL NAME ', 'DBA NAME ', 'ACQUIRER', 'Merchant No', 'DEPLOY DATE', 'SALES BY']]

### left merge two excel file

In [962]:
df3 = df3.merge(df.reset_index(), on='Merchant No', how='left')

In [963]:
df3

,ESTIMATED ANNUAL SALES,MERCHANT LEGAL NAME,DBA NAME,ACQUIRER,Merchant No,DEPLOY DATE,SALES BY,Transaction Month,Merchant Name,Card Organization,Payment Amount,Settlement Amount,Transaction Fee,gst,Transaction No
0,$350K,AFRESH DELUXE COLLECTION PTE LTD,LADY STELLAR,AIP,065702056310008,2023-07-06,FREDDIE,2023-06,LADY STELLAR,VISA,0.2,0.20,0.00,0.00,1.0
1,$350K,AFRESH DELUXE COLLECTION PTE LTD,LADY STELLAR,AIP,065702056310008,2023-07-06,FREDDIE,2023-07,LADY STELLAR,MASTERCARD,68.0,65.82,2.18,0.17,1.0
2,$350K,AFRESH DELUXE COLLECTION PTE LTD,LADY STELLAR,AIP,065702056310008,2023-07-06,FREDDIE,2023-07,LADY STELLAR,VISA,5397.0,5244.25,152.75,12.22,4.0
3,$120K,POINT OF SALES PTE LTD,POINT OF SALES PTE LTD,AIP,065702057340001,2023-07-31,FREDDIE,2023-08,POINT OF SALES PTE LTD,AMERICAEXPRESS,1248.0,1218.05,29.95,2.40,1.0
4,$120K,POINT OF SALES PTE LTD,POINT OF SALES PTE LTD,AIP,065702057340001,2023-07-31,FREDDIE,2023-08,POINT OF SALES PTE LTD,MASTERCARD,1098.0,1072.75,25.25,2.02,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,800K,ROYALE FOOD PTE LTD,BEER BASKET,AIP,065702089992552,2024-06-03,VICTORIA,2024-06,BEER BASKET,MASTERCARD,24546.4,23999.91,546.49,0.00,380.0
667,800K,ROYALE FOOD PTE LTD,BEER BASKET,AIP,065702089992552,2024-06-03,VICTORIA,2024-06,BEER BASKET,VISA,35645.0,34858.78,786.22,0.00,548.0
668,500K,SANDBAR PTE LTD,SANDBAR,AIP,065702089992881,2024-06-25,FREDDIE,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,300K,LILY NAIL SALON,LILY NAIL SALON,AIP,065702089992914,2024-07-01,FREDDIE,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,800K,SIN HOI SAI EATING HOUSE,SIN HOI SAI EATING HOUSE,AIP,NaN,NaT,KOLLIN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [964]:
df3.to_csv('LeftJoin.csv', index=False)